/*
variables
*******************************************************************************/
/*
mixins
*******************************************************************************/
/*
base styles
*******************************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }
  body * {
    border: 1px solid red; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:visited {
    color: #fff; }

/*
navigation
*******************************************************************************/
.header .nav {
  display: flex;
  flex-flow: row nowrap;
  padding: .5em;
  background-color: darkslategrey; }
  .header .nav .nav_container {
    display: flex;
    width: 100%; }
    .header .nav .nav_container .nav_item {
      flex: 1;
      text-align: center;
      background: #fff; }

/*
sections
*******************************************************************************/
.main {
  display: flex;
  height: 600px; }
  .main_inner {
    display: flex;
    flex-flow: row nowrap;
    flex: 1; }
    .main_inner .main_col {
      display: flex;
      flex-flow: column nowrap;
      padding: .5em; }
      .main_inner .main_col_left {
        flex: 1; }
        .main_inner .main_col_left_inner {
          display: flex;
          flex-flow: column nowrap;
          flex: 1; }
          .main_inner .main_col_left_inner .player_img {
            flex: 20%;
            background-image: url("./../img/blank_user_avatar.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transform: scale(0.75); }
          .main_inner .main_col_left_inner .player_name {
            flex: 40%; }
            .main_inner .main_col_left_inner .player_name h2 {
              text-align: center; }
          .main_inner .main_col_left_inner .player_inventory {
            flex: 40%; }
            .main_inner .main_col_left_inner .player_inventory h2 {
              text-align: center; }
      .main_inner .main_col_centre {
        flex: 2.5; }
        .main_inner .main_col_centre_inner {
          display: flex;
          flex-flow: column nowrap;
          flex: 1; }
          .main_inner .main_col_centre_inner .text {
            flex: 4; }
          .main_inner .main_col_centre_inner .control {
            flex: 1; }
      .main_inner .main_col_right {
        flex: 1; }
        .main_inner .main_col_right_inner {
          display: flex;
          flex-flow: column nowrap;
          flex: 1; }
          .main_inner .main_col_right_inner .dice_img {
            flex: 20%;
            background-image: url("./../img/dice.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transform: scale(0.75); }
          .main_inner .main_col_right_inner .dice_roll {
            flex: 15%; }
            .main_inner .main_col_right_inner .dice_roll h2 {
              text-align: center; }
          .main_inner .main_col_right_inner .info {
            flex: 65%; }
            .main_inner .main_col_right_inner .info h2 {
              text-align: center; }

/*
utilities
*******************************************************************************/
/*
grid scss
*******************************************************************************/
