doctype html

html(lang='en')
  
  head
    title Hipster Adventure
    //fonts
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet")
    //css reset
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    //main css
    link(rel="stylesheet" type="text/css" href="./css/main.css")
      
  body#body
    
    header.header
      nav.nav
        .nav_container
          .nav_item.nav_item_1
            a(href="#") 
              h1.main_header Hipster Adventure
          .nav_item.nav_item_2
            a(href="#") 
              p One
          .nav_item.nav_item_3
            a(href="#") 
              p Two
          .nav_item.nav_item_4
            a(href="#") 
              p Three
              
                        
    main.main
      .main_inner
        
        .main_inner_left
          p left
        .main_inner_centre
          p centre
        .main_inner_right
          p right
          
          
          
          
          
          
    footer.footer
      p footer section   
      
      
      
      
      
      
      
      
       
    script(type="text/javascript" src="./js/main.js")
      
      
        
      
      //- .row
      //-   .col-1-of-2
      //-     p Col 1 of 2
      //-   .col-1-of-2
      //-     p Col 1 of 2
      //- .row
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //- .row
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //-   .col-2-of-3
      //-     p Col 2 of 3
      //- .row
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //- .row
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-2-of-4
      //-     p Col 2 of 4
      //- .row
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-3-of-4
      //-     p Col 3 of 4
